body {
    background-image: url("../images/sunray.jpg");
    background-size: 100% 100%;  
}

header {
    background-color: bisque;
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0px;
    text-align: center;
    font-size: 36px;
}
#seconds-count{
    background-color: lightgreen;
    position: absolute;
    top: 20px;
    left: 50px;
}

#new-question{
    position: absolute;
    top: 10px;
    right: 30px;
}

.stats {
    position: absolute;
    top: 0px;
    right: 10px;
    height: 80px;
    width: 200px;
    font-size: 20px;
    background-color: bisque; 
}

.spacer{
    height: 80px;
    width: 100%;
}

#question {
    font-size: 26px;
    height: 100px;
    width: 400px;
    padding: 20px;
    background-color: bisque;
    border: 5px solid black;
}

.btn {
    font-size: 22px;
    background-color: bisque;
    border: 5px solid green;
}
#invis{
    opacity: 0.0;
    height: 400px;
}

#message {
    background-color: bisque;
    height: 50px;
    width: 400px;
    padding: 5px;
    margin: 5px;
    border: 5px solid green;
    font-size: 30px;
}
#picture {
    height: 400px;